.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    background: rgb(50,50,50);
    border-radius: 1rem;
}

.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText > p{
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width: 720px){
    .skillBarText > P{
        font-size: 2vw;
    }
}

@media screen and (max-width: 720px){
    .skillBarText > P{
        font-size: 3vw;
    }

    .skillBarImg{
        height: 2.25rem;
        width: 2.25rem;
    }

    .skillBarText > h2{
        font-size: 5vw;
    }
}